<link rel="stylesheet" href="{{ "collection-filters.css" | asset_url }}" />
{% assign gridColumns = 'grid-cols-4' %}
<div class="flex mt-10">
  <div id="sidebar-filter" class="p-4 w-[300px]" data-id="{{ section.id }}">
    <!-- Sidebar filter code here -->
    {% include 'collection-sidebar' %}
  </div>
  
    <div id="bbb-product-grid-wrapper" class="w-full pl-[40px]">
      <div class="collection-main" data-id="{{ section.id }}">
      {%- paginate collection.products by 6 -%}
      <div id="bbb-product-grid" class="grid {{ gridColumns }} gap-4 mb-16" data-id="{{ section.id }}">
        {% for product in collection.products %}
          <div class="relative bg-white shadow-lg rounded-lg overflow-hidden">
            <a href="{{ product.url }}" class="block">
              <div class="aspect-w-1 aspect-h-1">
                <img src="{{ product.featured_image | img_url: 'medium' }}" 
                    alt="{{ product.title }}" 
                    class="object-cover primary-image">
                <img src="{{ product.images[1] | img_url: 'medium' }}" 
                    alt="{{ product.title }}" 
                    class="absolute top-0 left-0 object-cover secondary-image opacity-0 transition-opacity duration-300">
              </div>
            </a>
            <div class="p-4">
              <a href="{{ product.url }}" class="block text-lg font-bold text-xl mb-2 text-gray-800 hover:text-gray-600">{{ product.title }}</a>
              <div class="flex justify-between">
                <p class="mt-2 text-gray-700 text-base">{{ product.price | money }}</p>
                {% if product.compare_at_price > product.price %}
                  <p class="mt-1 text-red-500 text-sm line-through">{{ product.compare_at_price | money }}</p>
                {% endif %}
              </div>
              <div class="flex mt-2">
                <span class="mr-3">Color</span>
                <button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button>
                <button class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"></button>
                <button class="border-2 border-gray-300 ml-1 bg-indigo-500 rounded-full w-6 h-6 focus:outline-none"></button>
              </div>
            </div>
            <div class="px-6 pb-4"> 
              <button class="bg-white-700 hover:bg-gray-50 text-black font-bold border-x border-y py-2 px-4 rounded-full w-full"
                onclick="addToCart()">Add to Cart</button>
            </div>
          </div>
        {% endfor %}
      </div>
      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '', class: '' %}
      {%- endif -%}
      {% endpaginate %}
      </div>
    </div>
  
</div>

<style>

  .aspect-w-1 > img,
  .aspect-h-1 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .aspect-w-1:hover .primary-image {
    opacity: 0;
  }

  .aspect-w-1:hover .secondary-image {
    opacity: 1;
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const lazyImages = [].slice.call(document.querySelectorAll('.lazy'));

    if ('IntersectionObserver' in window) {
      const lazyImageObserver = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.isIntersecting) {
            const lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImage.srcset = lazyImage.dataset.srcset;
            lazyImage.classList.remove('lazy');
            lazyImageObserver.unobserve(lazyImage);
          }
        });
      });

      lazyImages.forEach(function(lazyImage) {
        lazyImageObserver.observe(lazyImage);
      });
    }
  });
</script>
<script src="{{ 'collection-filters-form.js' | asset_url }}" defer="defer"></script>
{% javascript %}
const range = document.querySelectorAll(".range-slider span input");
progress = document.querySelector(".range-slider .progress");
let gap = 0.1;
const inputValue = document.querySelectorAll(".facets__price input");

range.forEach((input) => {
  input.addEventListener("input", (e) => {
    let minRange = parseInt(range[0].value);
    let maxRange = parseInt(range[1].value);

    if (maxRange - minRange < gap) {
      if (e.target.className === "range-min") {
        range[0].value = maxRange - gap;
      } else {
        range[1].value = minRange + gap;
      }
    } else {
      progress.style.left = (minRange / range[0].max) * 100 + "%";
      progress.style.right = 100 - (maxRange / range[1].max) * 100 + "%";
      inputValue[0].value = minRange;
      inputValue[1].value = maxRange;
    }
  });
});

{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "id": "products_per_page",
      "type": "range",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ]
    },
    {
      "id": "show_secondary_image",
      "type": "checkbox",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "id": "add_image_padding",
      "type": "checkbox",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "id": "show_vendor",
      "type": "checkbox",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "id": "enable_filtering",
      "type": "checkbox",
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "default": true,
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "id": "enable_sorting",
      "type": "checkbox",
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label",
      "default": true
    }
  ]
}
{% endschema %}
